<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298858646533-d5de12c6lmp7r14jhuvlitcroaebat1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298858646533-d5de12c6lmp7r14jhuvlitcroaebat1a</string>
	<key>API_KEY</key>
	<string>AIzaSyCnJfuK_tBGdVcF1Qa7krI8sEX_Kawlbhw</string>
	<key>GCM_SENDER_ID</key>
	<string>298858646533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tunaytoksoz.instaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-5b035</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-5b035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298858646533:ios:cfb00fd42053e9c916e06c</string>
</dict>
</plist>